/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/****   my edit  *****/

html, h1, h2, h3, h4, h5, h6, p
{
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}


/*no shadow*/
.no-shadow
{
  box-shadow: 0 !important;
  -webkit-box-shadow: 0 !important;
}

/*nav transition*/
.sticky-navigation { 
  border:none;
  padding:0 !important;
  margin-bottom:0 !important;
  -webkit-backface-visibility:hidden;
  top:-100px;
  -webkit-transition:all 0.7s ease-in-out;
  -moz-transition:all 0.7s ease-in-out;
  transition:all 0.7s ease-in-out;
  -webkit-box-shadow:0 0 16px 0 rgba(32,32,47,0.16);
  -moz-box-shadow:0 0 16px 0 rgba(32,32,47,0.16);
  box-shadow:0 0 16px 0 rgba(32,32,47,0.16)
 }

/*__________________________ Head_____________________________*/
 /*logo*/
.heading-logo
{
  color: #fff;
  text-align: center;
  font-weight: 800;
  margin-top: -0.2em;
}

/*date n time*/
.box-dt
{
  margin-top: 3em;
}

/*header introduction*/
.head-text
{
  text-align: center;
}

.middle-banner
{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 3em;
}

.container-height
{
    height: 700px;
}

.btn-align
{
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 160px;

  padding-top: 3em;
}

.btn-align a
{
  padding: 0 16px;
}

/*countdown card*/
.countdown-card
{
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  width: 540px;
  margin: 0 auto;
  
  margin-top: -14em;
  padding: 1.3em;
}

.countdown-card h4
{
  text-align: center;
  margin-bottom: 0.7em;
}

.inside-card h4
{
  margin-bottom: 0;
}

.inside-card p
{
  text-align: center;
}

/* some media query for head*/
@media only screen and (max-width: 580px) 
{
  .countdown-card 
  {
    width: 95% !important;
    margin-top: -8em;
  }

  .container-height
  {
    height: 700px;
  }

  .middle-banner
  {
    width: 80%;
  }
}

/*______________________________About this event________________________________*/
strong
{
  font-weight: 510;
}

.width-fix
{
  width: 68%;
  max-width: 200%;
}

.section-heading > h3, p
{
  margin: 0 auto;
  text-align: center;
}

.section-heading > h3
{
  padding-bottom: 1em;
}

.about 
{
  text-align: center;
  padding-top: 2em;
  padding-bottom: 3em;
}

.about img
{
  width: 100%;
  display: block;
  margin: 0 auto;
}

.about-text
{
  margin-top: 2em;
  text-align: justify;
  font-size: 20px;
}

.image2
{
  visibility: hidden;
  height: 0;
}
/*some media query for about*/
/*
@media only screen and (max-width: 1431px) {.width-fix{width: 95% ;}}
@media only screen and (max-width: 1340px) {.width-fix{width: 99%;}}
@media only screen and (max-width: 1280px) {.width-fix{width: 102%;}}
*/

@media only screen and (max-width: 1050px) {.width-fix{width: 85%;}}
@media only screen and (max-width: 701px)
{
  .image2
  {
    visibility: visible;
    height: auto;
  }

  .image1
  {
    visibility: hidden;
    height: 0;
  }
}
/*___*/

/*______________________________Schedule________________________________*/
.schedule
{
  padding-bottom: 2em;
}

.schedule-table
{
  margin: 0 auto;
  width: 60%;
}


/*______________________________Sponsor________________________________*/
.sponsor-style h3
{
  text-align: center;
  padding: 1em;
}

.sponsor-style p
{
  text-align: center;
}

.sponsor-style img
{
  width: 15vw;
  height: auto;
  margin: 0 auto;
}


/*_____________Footer________________________*/
.footer-align
{
  text-align: justify;
}

/*____________________Floating login box___________________*/
.modals
{
  position: fixed;
  display: block;
  z-index: 9999;
  outline: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(32,32,47,0.7);
  overflow: hidden;
  /*filter: alpha(opacity=50);*/
  
}

.modal-edit
{
  height: 300px;
  margin-top: 2em;
}

.content-btn
{
  display: block;
  margin: 0 auto;
  width: auto;
}

.btn-fix
{
  display: block;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 1em;
}
